// ------------------------------------------------------------------
// Header
// ------------------------------------------------------------------

body > section#contentWrapper, body > section:not(#banner)
	opacity: 0
	&.active
		+animate(fadeInUp)

header.active
	.logo
		+animate(bounceIn)
	#menu
		+animate(fadeInUp)

.container, .wrapper
	+grid-system(12)
	+clearfix	
	position: relative
	display: block

body
	background: $branco

	header
		width: 100%
		display: block
		position: fixed
		top: 0
		left: 0
		right: 0
		height: 150px
		z-index: 98
		background: $branco
		+box-shadow(rgba(0,0,0,0.2) 0px 2px 20px)		

		& > section
			width: 100%
			display: block

			&#topHeader
				background: $brancoCinza
				height: 50px
				+transition
				
				.container
					color: $corTexto
					font-size: 10px
					+clearfix
					overflow: visible
					height: 50px
					display: block


					.fbh-infos
						display: block
						position: absolute
						left: 10px
						right: 150px
						top: 0
						height: 50px

						a, p
							display: inline-block
							padding: 0 10px	
							font-size: 10px
							line-height: 50px

						a
							text-transform: uppercase
							font-weight: 900

						p
							line-height: 30px

						p:before
							font-size: 20px
							padding-right: 5px
							color: $cinza
							position: relative
							bottom: -5px


					.lang_search
						width: 145px
						display: block
						position: absolute
						right: 0
						top: 0

						a
							display: block
							float: left
							padding: 0 5px
							width: 20px
							line-height: 50px

							&:not(.active)
								+desaturate
								opacity: 0.5

						a.icon
							+icon
							line-height: 50px
							color: $corTexto
							font-size: 25px
							padding: 0 15px
							width: 25px

						& > div
							display: none
							position: absolute
							top: 50px
							right: 0
							width: 380px
							padding: 20px
							background: $brancoCinza
							z-index: 98
							input, button
								width: 260px
								display: block
								float: left
								margin: 0
								+border-radius(5px 0 0 5px)
								border-right: 0
							
							button
								width: 120px
								+border-radius(0 5px 5px 0)
								font-size: 12px
								font-weight: 900

			&#menu
				height: 100px
				.logo
					+grid(2)
					padding: 20px 0
				#nav
					+grid(10)
					text-align: center
					position: relative
					li
						height: 100px
						float: left
						position: relative
						a
							text-transform: uppercase
							padding: 0 16px
							font-size: 12px
							display: table-cell
							line-height: 18px
							vertical-align: middle
							height: 100px
							color: $cinzaEscuro

						ul
							display: block
							background: $corPrincipal
							width: 250px
							position: absolute
							top: 100px
							left: 0px
							overflow: hidden

							li
								display: block
								color: $brancoCinza
								float: none
								height: auto
								a
									display: block
									height: auto
									padding: 15px 30px
									border-top: 1px solid rgba($corPrincipalHover, 0.3)
									color: $brancoCinza
									text-align: left

									&:hover
										background: $corPrincipalHover

						&:hover
							background: $corPrincipal
							a
								color: $corPrincipalInverso

				#navMobile
					display: none

		&.lean
			height: 80px
			& > section
				&#topHeader
					height: 0
					overflow: hidden
				&#menu
					height: 80px
					.logo
						+grid(2)
						padding: 10px 0
					nav
						a
							height: 80px

	& > section
		padding: 40px 0

		& > .container > h1
			text-align: center

	#banner
		$larguraBanner: 100%
		$alturaBanner: 550px
		top: 150px
		width: $larguraBanner
		height: $alturaBanner
		display: block
		position: relative
		background: url(../img/no-banner.jpg) center center no-repeat

		.dot
			background: rgba($corPrincipalHover, 0.9) url(../img/dot.png) center center
			background-attachment: fixed
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 1

		.no-banner
			+bgCover
			text-align: center
			position: absolute
			display: block
			top: 100px
			bottom: 20px
			left: 20px
			right: 20px
			z-index: 2
			color: $branco
			+animate(bounceInDown, $delay: 0.5s)

			*
				color: $branco

			h1
				margin: 30px 0
				font-size: 36px

			p
				+border-radius(10px)
				font-size: 12px
				font-weight: 900
				border: 2px solid $branco
				width: 180px
				display: block
				margin: 0 auto
				padding: 10px
				text-transform: uppercase
			nav.social
				text-align: center
				display: block
				margin-top: 50px
				a
					display: inline-block
					+icon
					font-size: 30px
					padding: 15px
					+scale(0.7)
					+border-radius(100%)
					margin: 0 -5px

					&:hover
						background: $brancoCinza
						color: $corPrincipalHover
						+scale(1)

	.noticiasDestaque
		margin-top: 150px
		padding-top: 100px
		h1
			text-align: center

		a
			+grid(4, $gutter-width: 2px)
			height: 298px
			display: block
			float: left
			margin: 1px
			position: relative
			+transition
			background: $black

			img
				+desaturate
				opacity: 0.6
				+transition

			h1
				background: rgba($corPrincipal, 0.8)
				padding: 20px
				position: absolute
				left: 0
				right: 0
				bottom: 0
				font-size: 20px
				margin: 0
				color: $corPrincipalInverso
				font-weight: 300
				+transition

				b
					+transition
					font-size: 12px
					font-weight: 900
					display: block
					line-height: 50px
					height: 0
					overflow: hidden
					padding-top: 10px

			&:hover
				img
					+desaturate($gray: 0)
					opacity: 1
				h1
					background: rgba($corPrincipalHover, 0.9)
					b
						height: 50px

	.noticiasTab
		padding: 40px 0
		margin-top: 150px
		background: $brancoCinza
		nav
			position: absolute
			top: -120px
			left: 0
			right: 0
			display: table
			width: 100%

			a
				padding: 0 20px 
				height: 80px
				display: table-cell
				vertical-align: middle
				font-size: 32px
				line-height: 32px
				+font(100)
				color: $cinza
				width: 260px
				text-align: center
				text-transform: uppercase

				span
					display: block
					font-size: 20px

				&.selected
					color: $cinzaEscuro
					background: $brancoCinza

		.container > div
			overflow: hidden

			&.currentTab
				+animate(bounceInUp)

			a
				color: $cinzaEscuro
				font-size: 14px
				line-height: 22px
				display: block
				font-weight: 400

				h2
					color: $corPrincipal
					font-size: 32px
					font-weight: 400
					text-transform: none

				span
					display: block
					padding: 15px 0
					color: $cinza
					font-size: 11px
					font-weight: 400

			article
				+grid(7, $gutter-width: 0)
				position: relative
				a:after
					background: red
					height: 50px
					display: block
					width: 50px
					z-index: 999

			aside
				+grid(4, $gutter-width: 0)
				float: right

				a
					margin-bottom: 40px

					h2
						color: $corPrincipal
						font-size: 22px
						margin-bottom: 0

					span
						padding: 5px 0

					&.button3d
						color: $brancoCinza

			&#revistaTab
				& > img
					width: 280px
					display: block
					float: left
					height: auto
					margin-right: 20px

				article
					+grid(4, $gutter-width: 0)

				aside
					padding-bottom: 15px
					h3
						font-size: 20px
						margin-bottom: 5px

	.newsletter
		background: $corPrincipal

		h1
			color: $corPrincipalInverso
			+grid(7, $gutter-width: 0)
			margin: 0
			font-size: 40px
			height: 100px

		form
			+grid(4, $gutter-width: 0)
			float: right
			padding-top: 30px

			input, button
				float: left
				margin: 0
				display: block
				width: 70%
				+border-radius(5px 0 0 5px)

			button
				width: 30%
				+border-radius(0 5px 5px 0)
				background: $corPrincipalHover
								
	.eventos
		a.verTodos
			text-transform: uppercase
			font-size: 16px
			position: absolute
			top: 30px
			right: 0
			font-weight: 700

		ul
			li
				+grid(4, $gutter-width: 2px)
				position: relative
				height: 500px
				overflow: hidden

				a
					display: block
					width: 100%
					height: 100%
					
					.date
						position: absolute
						background: rgba($corPrincipal, 0.8)
						font-size: 40px
						display: block
						padding: 20px
						top: 20px
						right: 20px
						color: $brancoCinza
						text-align: center
						text-transform: uppercase
						+transition
						z-index: 99

						span
							font-size: 20px
							display: block
							margin-top: 10px


					.caption
						position: absolute
						background: rgba($black, 0.7)
						padding: 20px
						bottom: 0
						left: 0
						right: 0
						+clearfix
						+transition

						h2
							font-size: 24px
							font-weight: 100
							color: $brancoCinza
							margin-bottom: 10px
						p
							color: $brancoCinza
							+transition
							display: none

					&:hover
						.caption p
							display: block
							
						.date
							background: rgba($corPrincipalHover, 1)
							+scale(1.4)





// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------
body
	footer
		display: block
		+clearfix
		width: 100%
		position: relative
		
		.social
			background: $brancoCinza
			text-align: center
			display: block
			padding: 40px 0
			width: 100%
			height: 110px
			a
				display: inline-block
				+icon
				font-size: 40px
				line-height: 40px
				height: 40px
				padding: 33px
				+scale(0.7)
				+border-radius(100%)
				margin: 0 -5px
				border: 2px solid $cinzaClaro
				color: $cinzaClaro

				&:hover
					background: $corPrincipal
					color: $corPrincipalInverso
					+scale(1)
					border-color: transparent

		.contatos
			display: block
			position: absolute
			top: 190px
			left: 0
			right: 0
			height: 600px
			background: rgba($corPrincipalHover, 0.9) center center
			overflow: hidden

			.container
				$ninesixty-grid-width: 1200px
				padding-top: 50px
				border-bottom: 1px solid $brancoCinza

				img
					width: 320px
					height: 128px
					margin: 40px auto
					display: block

				p
					color: $brancoCinza
					font-size: 16px
					line-height: 24px
					vertical-align: middle
					padding: 30px 15px 30px 85px
					font-family: 'Lato'
					font-weight: 300

					&.gf-icon-phone, &.gf-icon-mail
						+grid(3, $gutter-width: 0)

					&.gf-icon-location
						+grid(6, $gutter-width: 0)

					b
						font-weight: 900

					&:before
						position: absolute
						font-size: 40px
						line-height: 40px
						padding: 15px
						border: 2px solid $brancoCinza
						color: $brancoCinza
						left: 0
						+border-radius(100%)
						top: 20px
						font-family: 'gf-icons'





		a.gf-icon-map
			display: block
			position: absolute
			bottom: 100px
			left: 50%
			margin-left: -70px
			width: 140px
			height: 20px
			line-height: 20px
			padding-top: 100px
			padding-bottom: 20px
			color: $brancoCinza
			font-size: 13px
			font-weight: 900
			font-family: 'Lato'
			text-align: center
			margin-top: 20px
			+transition


			&:before
				font-size: 80px
				line-height: 80px
				top: 20px
				left: 50%
				margin-left: -40px
				font-family: 'gf-icons'
				position: absolute
				font-weight: 100

			&.showMap
				background: $corPrincipalHover
				opacity: 0.9
				+box-shadow(rgba($black, 0.1) 0 -5px 0 inset)
				+border-radius(15px)

				&:hover
					opacity: 1


		.map
			height: 600px
			display: block

		.direitos
			padding: 20px 0
			height: 12px
			font-size: 12px
			line-height: 12px
			background: $brancoCinza
			color: $cinza
			font-weight: 400
			text-transform: uppercase
			display: block
			width: 100%
			text-align: center





// ------------------------------------------------------------------
// PAGE GENERAL
// ------------------------------------------------------------------
body 
	
	#pageContent, #pageHeader
		width: 100%
		display: block
		position: relative
		
	#pageHeader
		background: $corPrincipal
		margin-top: 150px
		padding: 0
		padding: 20px 0

		.wrapper
			+grid-system(12)

			h1
				display: block
				margin: 0
				color: $brancoCinza
				+grid(12)
				text-align: right

			&.active
				+animate(fadeIn, $delay: 1s)

	#pageContent
		.wrapper
			+grid-system(12)
			padding: 40px 0

			& > *
				+grid(12)
				margin-bottom: 50px

				& > h2
					display: block
					width: 100%
					text-align: center
					font-size: 40px
					font-weight: 300





