<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="pt-br" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="pt-br" class="ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="pt-br" class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="pt-br" class="ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" class="no-ie" lang="pt-br"><!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{page.title}} - Federação Brasileira de hospitais</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="{{ site.url }}css/style.css">
	<link rel="stylesheet" href="{{ site.url }}css/ie.css">
</head>

<body id="{{ page.id }}">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header class="active">
		<section id="topHeader">
			<div class="container">
				<div class="fbh-infos">
					<a href="#" title="">Revista visão hospitalar</a>
					<a href="#" title="">guia de fornecedores</a>
					<p class="gf-icon-location">SRTVS Qd. 701 – Conj. E Nº 130, Bl. 03 - 5º andar - Ed. Palácio do Rádio I - Brasília / DF - CEP: 70340-901</p>
					<p class="gf-icon-phone">(61) 3322-3330</p>
				</div>
				<div class="lang_search">
					<a href="#" title="" class="active"><img src="{{ site.url }}img/flag-br.png" alt=""></a>
					<a href="#" title=""><img src="{{ site.url }}img/flag-usa.png" alt=""></a>
					<a href="#" title=""><img src="{{ site.url }}img/flag-es.png" alt=""></a>
					<a href="#" title="" class="icon">&#xe619</a>
					<div>
						<input type="text" name="" value="" placeholder="">
						<button type="">Pesquisar</button>
					</div>
				</div>
			</div>
		</section>

		<section id="menu">
			<div class="container">
				<a href="index.html" title="" class="logo">
					<img src="img/logo-fbh.png">
				</a>
				<nav id="nav">
					<a href="sobre_fbh.html" title="">Sobre <br>a FBH</a>
					<a href="#" title="">Representação <br> governamental</a>
					<a href="#" title="">Publicações <br> FBH</a>
					<a href="#" title="">Indicadores <br> de saúde</a>
					<a href="#" title="">Legislação</a>
					<a href="#" title="">Notícias <br> da área</a>
					<a href="#" title="">Calendário <br> de eventos</a>
					<a href="#" title="">Sala de <br> imprensa</a>
					<a href="#" title="">fale <br> conosco</a>
				</nav>

				<div id="navMobile">
					<a href="#" title="">Menu <img src="img/menuMobile.png" alt=""></a>
					<nav>
						<a href="o_sindicato.html" title="O Sindicato">O Sindicato</a>
						<a href="servicos.html" title="Serviços">Serviços</a>
						<a href="sindicalizados.html" title="Serviços">Sindicalizados</a>
						<a href="eventos.html" title="Eventos">Eventos</a>
						<a href="sala_de_imprensa.html" title="Sala de imprensa">Sala de imprensa</a>
						<a href="parceiros.html" title="parceiros">parceiros e convênios</a>
						<a href="curriculo.html" title="curriculo">envio de curriculo</a>
						<a href="downloads.html" title="downloads">downloads</a>
						<a href="contato.html" title="contato">contato</a>

						<a href="associe-se.html" title="">Associe-se</a>
						<a href="cursos.html" title="">cursos</a>
						<a href="licitacoes.html" title="">Licitações</a>
						<a href="dicas.html" title="">Dicas e assessoria</a>
						<a href="uteis.html" title="">informações úteis</a>
						<a href="distancias.html" title="">distâncias</a>
					</nav>
				</div>
			</div>
		</section>
	</header>





